
.black{
    background-color:#141414 ;
    opacity: 80;

}
.upperMenuWrapper{
    align-self: flex-end;
}
.upperMenu{
    padding-top: 10px;
    align-self: flex-end;
    display: flex;
    gap: 30px;
}
.upperMenu p {
    font-size: 65%;
    gap:10px
}

.MainMenu{
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.menuLogoWrapper{

}
.menuWrapper{
    display: flex;
    
}
.menuItem{
   
    color:white;
    transition: all ease .5s;
    padding: 5px 10px;
}
.menuItem:hover{
    color: #808080;
}
 
.user{
    height: 50px;
}
.user img{
    height: 100%;
    border-radius: 3px;
}
.mobileMenuWrapper{
    display: none;
}


.mobileHeaderMenuTitle{
    flex-direction: column;
    gap: 5px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileHeaderMenuTitle h1{
    display: flex;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.mobileHeaderMenuTitle p{
    color: white;
}

.mobileHeaderMenuLinks{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-direction: column;
    padding: 25px 20px;
}

.mobileHeaderMenuLinks ul a li{
    color: #fff;
   padding: 5px ;
   border-bottom: 1px dashed white;
}
.mobileHeaderMenuLinks ul a li:hover{
    color: #808080;
   padding: 5px ;
   border-bottom: 1px dashed white;
}
.mobileHeaderMenuTitle h1 p {
    font-weight: normal;
}

.SocialItems{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
    
}
.Nightmode{
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 21px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  } 
  .slider_round:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  } 
  .switch input:checked + .slider_round {
    background-color: #707070;
  }
  .switch input:focus + .slider_round {
    box-shadow: 0 0 1px #707070;
  }
  .switch input:checked + .slider_round:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .slider_round {
    border-radius: 34px;
  }
  
  .slider_round:before {
    border-radius: 50%;
  }

  .languageSelectorFlagsDesktop{
   display: flex;
   gap:5px;
   height: 90%;
  }
  .languageSelectorFlagsMobile{
    display: flex;
    gap:5px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 10px 20px;
   }
   
   
@media (max-width: 768px) { 
  .menuWrapper{
    display: none;
  }
}

  .headerHamburgerIcon{
    display: none;
  }

  @media (max-width: 768px) {
    .languageSelectorFlagsDesktop{
      display: none;
    }

    .mobileMenuWrapper{
        margin-left:-100% ;
        display: block;
        z-index: 998;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        
        transition: all ease .5s;
        height: 100%;
    }
    .mobileMenu{
        margin-left:-70% ;
        border-right: 1px solid white;
        display: block;
        z-index: 999;
        position: fixed;
        top:0;
        left:0;
        width: 70%;
        background: #141414;
        transition: all  .5s;
        height: 100%;
    }
    
    .headerHamburgerIcon{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25%;
      margin-top: 5px;
    }
  }
  @media (max-width: 430px) { 
    
    .cellphoneIcon{
      display: none;
    }
  }